/* From Uiverse.io by 1osm */
.Message {
    width: 40rem;
    height: 40px;
    background-color: #40414f;
    transform: translate(0px, 0px);
    box-shadow: 5px 5px #34343f;
    position: absolute;
    bottom: 0;
    margin-left: 18rem;
    border-radius: 3px;
}

.MsgInput {
    font-size: 18px;
    background-color: #40414f;
    border: none;
    outline: none;
    width: 40rem;
    height: 30px;
    color: white;
    padding: 1px;
    font-weight: bold;
}

.send-icon {
    position: absolute;
    height: 44px;
    width: 2rem;
    background-color: #40414f;
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 1px;
}

.send-icon:hover {
    color: beige;
}

@media (max-width: 768px) {
    .Message {
        width: 20.3rem;
        height: 40px;
        background-color: #40414f;
        transform: translate(0px, 0px);
        box-shadow: 5px 5px #34343f;
        position: absolute;
        bottom: 0;
        margin-left: 0.1rem;
        border-radius: 3px;
    }

    .MsgInput {
        font-size: 18px;
        background-color: #40414f;
        border: none;
        outline: none;
        width: 20.3rem;
        height: 30px;
        color: white;
        padding: 1px;
        font-weight: bold;
    }

}

.btn {
    margin-top: 30rem;
}


.todo-style {
    margin-top: 1rem;
    max-Height: 395px;
    overflow-Y: auto;
    padding: 1rem;
    border-Radius: 4px;
    width: 40rem;
    margin-Left: 18.8rem
}